/*targeted towards internet explorer */

div {
	position: relative;
	min-height: 0px;
}

/*opacities and filters*/
div.menu {
	filter: alpha(opacity=80);
}
.images-only .post-content .first-image .two {
	filter: alpha(opacity=40);
}
.images-only .post-content .first-image .three {
	filter: alpha(opacity=20);
}
nav ul .menu-links {
	z-index: 0;
}
nav ul a:hover > ul {
	display: block;
}
nav ul li li a {
	filter: alpha(opacity=90);
}
nav ul li a {
	filter: alpha(opacity=90);
}
nav ul li.links a {
	filter: alpha(opacity=90);
}

/*bug fixes*/
.comment-num, 
.comment-num-div {
	z-index: 9999;
}

.images-only {
	margin-right: auto;
	margin-left: -400px;
	width: 800px;
	left: 0px;
}

#content .images-only .left-banner {
	width: 1600px;
	/*hopefully those ppl with big screens have modern browsers*/
}

.widget .post-title {
	width: 800px;
	/*cheating again.*/
}
#content .left-post {
	border: 0px;
}
#content .images-only .post-title p {
	right: -90px;
}
.left-post .post-inners {
	margin-right: -285px;
	background: #D696D2;
	border: 1px solid #BDA7C7;
	border-left: 0px;
}

/* mac hide \*/
* html .post{height:1px;position:relative;}
* html .images-only{height:1px;position:relative;}
* html .left-post{height:1px;position:relative;}
/* end hide */
